{% extends "layout.html" %}

{% block maincontent %}
	<div class='entry'>
		{% for entry, text in data %}
		<a href="{{ url_for('show_entry', entry_name=entry) }}">{{ entry }}</a>
			{{ text|safe }}
		{% endfor %}
	</div>
{% endblock %}
