<!doctype html>
<html>
	<head>
		<title>Atas de Reunião</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<h1 id='header'>
			Atas de reuniao
		</h1>
		{% block maincontent %}{% endblock %}
	</body>
</html>
